<div class="pic1">

</div>

<div id="login">

    {{#if error}}
    <div class="error">
        <p> FAILED TRY AGAIN </p>

    </div>
    {{/if }}


<h1 class="main_header"> LOGIN </h1>
<form id="login_form" method="post">

    <input name = "email" type="text" placeholder="email ...">
    <br>
    <br>
    <input name = "password" type="text" placeholder="password ...">
    <br>
    <br>
    <br>
    <button type="submit"  name="button">SIGN IN</button>
    <br>
    <br>
</form>

<p > <a href="./" id="thanks_text"> Registration </a> </p>

</div>
