<div class="pic3">

</div>

<div id="petition-container">



<h1 class="main_header"> Make skateboarding legal again! Sign a petition!</h1>



<div id="main_text_container">




<p id="main_text"> Why shouldn't it be? <br>
Asking why something should be legal is not the right question to ask, not if you strongly value personal liberty.
Things should be legal by default, legal unless there's a clear reason for why they should be restricted or outlawed.

I'm ignoring the word "always" in the question. Skateboarding is not always legal, nor should it be.
It tends to be legal if you're not violating some more general law when you do it.
Examples of potentially illegal skateboarding could include skateboarding on someone else's private property without their permission (trespassing),
skateboarding in a way that damages public property, skateboarding while drunk in a way that bothers people (drunk & disorderly) ... the list goes on.
<br>
Here are some more links for further study :
<br>
<a href='http://theconversation.com/skateboarding-is-good-for-you-and-good-for-public-places-57564'>Skateboarding is good for you – and good for public places    </a><br>
<a href='https://traffic.findlaw.com/traffic-tickets/skateboarding-laws.html'>Skateboarding Laws</a>
</p>


</div>



<div id='form'>


<form method = 'POST' >

    <p class="error">Please sign here and Submit</p>
    {{!-- <input name = "first_name">
    <input name = "last_name">
    <br> --}}
    <br>
    <br>
    <canvas id="canvas" width="300" height="50" > </canvas>
    <input type="hidden" name="hidden_input" id="hidden_input">
    <br>
    <br>
    <button type="submit" name="button" id="submitB">SUBMIT TO PEEPS</button>
    <br>

</form>
<img src="/skate.png" alt="skater" id="image_skater">


</div>





</div>
