
<div class="pic1">

</div>


<div id="register_container">





<form id="more_info" method="POST" autocomplete="off">

        <h1 class="main_header"> REGISTER </h1>
        <br>
        <br>
        <input class="input-field" type="text" name="first" placeholder="first name ..."/>
        <br>
        <br>
        <input class="input-field" type="text" name="last" placeholder="last name ..."/>
        <br>
        <br>
        <input class="input-field" type="text" name="email" placeholder="email ..."/>
        <br>
        <br>
        <input class="input-field" type="text" name="password" placeholder="password ..."/>
        <br>
        <br>
        <input type="submit" class="submit-button" value="sign up"/>
                    <!-- put this in every form !!! -->
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />

        <br>
        <br>
        <p > <a href="./login" id="thanks_text"> or login </a> </p>
        {{#if error}}
        <div class="error">
            <p> FAILED TRY AGAIN </p>

        </div>
        {{/if }}
</form>


</div>
