<div class="pic4">

</div>


<div id="thanks_container">


        <h1 class="main_header"> THANKS For signing ! </h1>

        {{!-- <img src="/thumbs_up.png" alt="thumbs up" id="image_thumbs_up"> --}}




        <img id="your_singature" src="{{userSig}}" alt="signature">

        <p > <a href="./signers" id="thanks_text"> These people have also signed the petition </a> </p><!-- this should refer tot he signers page-->
        <p > <a href="./change_info" id="thanks_text"> Change your information </a> </p>

</div>
