<div class="pic4">

</div>


<div id="thanks_form">


        <h1 class="main_header"> THANKS For signing ! </h1>

        {{!-- <img src="/thumbs_up.png" alt="thumbs up" id="image_thumbs_up"> --}}




        <img id="your_singature" src="{{userSig}}" alt="signature">

            <p class="thanks_text_small"> <a href="./signers" > These people have also signed the petition </a> </p><!-- this should refer tot he signers page-->
            <br>
        <p class="thanks_text_small"> <a href="./change_info" > Change your information </a> </p>
            <br>
            <br>

        <p class="thanks_text_small"> <a href="./logout" > logout </a> </p>



</div>
