* {
    margin: 0 auto;
    text-align: center;
}

body {
}

.main_header {
    text-align: center;
    font-family: 'Creepster', cursive;
    color: white;
    font-size: 60px;
    -webkit-text-stroke: 1px green;
}

.pic1 {
    background-image: url('./skate1.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic2 {
    background-image: url('./park.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic3 {
    background-image: url('./skate2.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic4 {
    background-image: url('./skate4.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic5 {
    background-image: url('./skate5.jpeg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic6 {
    background-image: url('./skate6.jpg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.pic7 {
    background-image: url('./skate7.jpg');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

#header {
    visibility: hidden;
    width: 100%;
    height: 30px;
}

#login {
    padding-top: 50px;
    height: 400px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#register_bg {
    padding-top: 50px;
    height: 400px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#register_form {
    padding-top: 50px;
    height: 400px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#login_form {
    padding-top: 15px;
}

#image_skater {
    padding-top: 10px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 1;
}

#image_thumbs_up {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#petition-container {
    padding-top: 50px;
    width: 1150px;
}

#canvas {
    border: 2px solid black;
    background-color: white;
}

#main_text {
    font-family: 'Amatic SC', cursive;
    text-align: left;
    color: white;
    font-size: 27px;
    padding-left: 17px;
    padding-top: 10px;
}

#main_text_container {
    /* padding-top: 50px; */
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    height: 500px;
    float: left;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#form {
    padding-top: 15px;
    float: right;
    width: 35%;
    height: 485px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#signer_container {
    padding-top: 50px;
    background-color: rgba(128, 128, 128, 0.95);
    width: 600px;
    border-radius: 15px;
    height: 500px;
}
#signers_text {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: white;
    font-size: 40px;
}
#thanks_container {
    padding-top: 50px;
}

#thanks_text {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 35px;
}

.thanks_text_small {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
}

#your_singature {
    padding: 25px 0px;
    width: 250px;
}

#more_info {
    padding-top: 50px;
    height: 400px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#change_info {
    padding-top: 50px;
    height: 600px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}

#thanks_form {
    padding-top: 50px;
    height: 550px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.95);
    border-radius: 15px;
}
#ptext {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
}

a:visited {
    color: white;
}

.error {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
}

#re-sign {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
    border: none;
    background: none;
    padding: 0 !important;
    cursor: pointer;
    text-decoration: underline;
}
